<div class="d-flex justify-content-center my-3">

    <!-- <button class="btn btn-info btn-lg mx-2" id="buttons-copy">
        Copy
        <i class="fas ms-2 fa-lg fa-copy"></i>
    </button> -->

    <button class="btn btn-secondary btn-lg mx-2" id="buttons-csv">
        Export CSV
        <i class="fas ms-2 fa-lg fa-file-csv"></i>
    </button>

    <button class="btn btn-success btn-lg mx-2" id="buttons-excel">
        Export Excel
        <i class="fas ms-2 fa-lg fa-file-excel"></i>
    </button>

    <button class="btn btn-danger btn-lg mx-2" id="buttons-pdf">
        Export PDF
        <i class="fas ms-2 fa-lg fa-file-pdf"></i>
    </button>

    <button class="btn btn-dark btn-lg mx-2" id="buttons-print">
        Print
        <i class="fas ms-2 fa-lg fa-print"></i>
    </button>

</div>